<div id="osm_route_map" style="width: 100%; height: 480px;"></div>
<h2>Route Stops</h2>
<F3:repeat group="{{ @page_object->stops() }}" value="{{ @stop }}">
	<p><a href="/bus-stop/{{ @stop['id'] }}.html">{{ @stop['name'] }}</a></p>
</F3:repeat>

<h2>Other Views</h2>
<p>This page is available in other, less 'webby' formats.</p>
<ul>
	<li> <a href="/bus-route-mobile/{{ @page_object->routeCode() }}.html">Mobile version</a> optimised for touchscreen smartphones.</li>
	<li> The <a href="http://data.southampton.ac.uk/bus-route/{{ @page_object->routeCode() }}.html">old version of this page</a> is also still available as part of data.southampton.ac.uk.</li>
</ul>

<div class="bus_routeviews">
</div>

<h2>Get the Data!</h2>
<p>We encourage re-use of data. To this end we provide machine readable versions of this page in various formats.</p>
<ul>
	<li> <a href="/bus-route/{{ @page_object->routeCode() }}.ttl">Turtle</a> - Turtle is a representation of RDF, the standard format for linked open data.</li>
	<li> <a href="/bus-route/{{ @page_object->routeCode() }}.rdf">RDF/XML</a> - RDF, represented in XML.</li>
	<li> <a href="/bus-route/{{ @page_object->routeCode() }}.json">JSON</a> - JavaScript Object Notation, useful when writing web applications.</li>
</ul>
<p>
	If you prefer, you can visit the University of Southampton's <a href="http://data.southampton.ac.uk/">Data Site</a> to access the raw data used in the building of this site. Here you will find many more datasets in the same format, and a SPARQL endpoint for querying the data from the web.
</p>
<p>Finally, if you produce something cool using the data available from this site, please <a href="mailto:opendata@southampton.ac.uk">let&nbsp;us&nbsp;know</a>!</p>

<script language="JavaScript"><!--//

var map = L.map('osm_route_map');
L.tileLayer('http://bus.southampton.ac.uk/graphics/map/tiles/{z}/{x}/{y}.png', {
	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, augmented with <a href="http://data.southampton.ac.uk/">Southampton Open Data</a>. Imagery by Christopher Baines',
	maxZoom: 18
}).addTo(map);
var polyline = L.polyline({{ @page_object->polyline() }}, {color: '#007275', weight:10, clickable:false}).addTo(map);
map.fitBounds(polyline.getBounds());

//--></script>
