<div id="search">
<div class="header">Bus Finder</div>
<div class="content">
<p>Type a destination.</p>
<form action="/search/submit.html" method="GET">
<div>
<input type="text" name="searchfield" id="searchfield">
<input type="hidden" name="searchuri" id="searchuri" value="">
<check if="{{ @page_template == './templates/area.html' }}">
	<true><input type="hidden" name="sourceuri" id="sourceuri" value="{{ @page_object->uri() }}"></true>
	<false><input type="hidden" name="sourceuri" id="sourceuri" value=""></false>
</check>
</div>
<div>
<input type="submit" value="Search" id="submit" name="submit">
</div>
</form>
</div>
</div>
