<div style="background-image: url({{ @page_object->mapImage() }}); background-repeat: no-repeat; background-position: center; width: 100%; height: 200px; text-align: right;"><a href="http://www.openstreetmap.org/"><img src="/graphics/osm_logo.png" width="60" height="20" border="0"></a></div>

<h2>Upcoming buses</h2>
<p>Bus times courtesy of <a href="http://www.gosouthcoast.co.uk/">Go South Coast</a>, and are live unless stated otherwise.</p>
<div class="bus_timetable" id="{{ @page_object->stopCode() }}"><noscript><p>Please enable Javascript to see the live times.</p></noscript></div>

<h2>Routes</h2>
<p>
  This is a list of all services that serve this stop. Most services have multiple routes, depending on the time of day.
  This information is processed from the <a href="http://www.travelinedata.org.uk/traveline-open-data/traveline-national-dataset/">Traveline&nbsp;National&nbsp;Dataset</a>
  (TNDS), which is Open Data, published under the Open Government License.
</p>
<div class="bus_stoproutes">
  <table class="busroutetable">
    <F3:repeat group="{{ @page_object->routes() }}" value="{{ @route }}">
      <tr>
        <td class="routeid">{{ @route['code'] }}</td>
        <td><a href='{{ @route['url'] }}'>{{ @route['label'] }}</a><br><small>{{ @route['stop_count'] }} stops | Service operated by {{ @route['operator'] }}</small></td>
      </tr>
    </F3:repeat>
  </table>
</div>

<h2>Other Views</h2>
<p>This page is available in other, less 'webby' formats.</p>
<ul>
	<li> <a href="/bus-stop-mobile/{{ $page_object->stopCode() }}.html">Mobile version</a> optimised for touchscreen smartphones.</li>
	<li> <a href="/bus-stop-publicdisplay/{{ $page_object->stopCode() }}.html">Display version</a> optimised for public display screens.</li>
	<li> <a href="/bus-stop-iframe/{{ $page_object->stopCode() }}.html">Embeddable version</a> for display in an <samp>&lt;iframe&gt;</samp> on your own website.</li>
</ul>
<div class="bus_stopviews">
</div>

<h2>Get the Data!</h2>
<p>We encourage re-use of data. To this end we provide machine readable versions of this page in various formats.</p>
<ul>
  <li> <a href="/bus-stop/{{ @page_object->stopCode() }}.ttl">Turtle</a> - Turtle is a representation of RDF, the standard format for linked open data.</li>
  <li> <a href="/bus-stop/{{ @page_object->stopCode() }}.rdf">RDF/XML</a> - RDF, represented in XML.</li>
  <li> <a href="/bus-stop/{{ @page_object->stopCode() }}.json">JSON</a> - JavaScript Object Notation, useful when writing web applications.</li>
</ul>
<p>
  If you prefer, you can visit the University of Southampton's <a href="http://data.southampton.ac.uk/">Data Site</a> to access the raw data used in the building
  of this site. Here you will find many more datasets in the same format, and a SPARQL endpoint for querying the data from the web.
</p>
<p>Finally, if you produce something cool using the data available from this site, please <a href="mailto:opendata@southampton.ac.uk">let&nbsp;us&nbsp;know</a>!</p>
